    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="preconnect" href="https://fonts.googleapis.com">
              <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                 <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/main.css ">
            <title>Chan Roy AV Reaserch App Index</title>
        </head>

          <body>
            <header>
                <h1 class="hidden">Header</h1>
              <a href="/"><img src="/images/logo.png" alt="logo" id="logo"></a>
            <h2>ALL MEDIA</h2>
              <nav>
                <ul>
                  <li><a href="/video">Video</a></li>
                  <li><a href="/">Home</a></li>
                  <li><a href="/audio">Audio</a></li>
                </ul>
              </nav>
            </header>
        
            <main class="container">
                <section id="about-us">
                    <h2>About Us</h2>
                    <p>We are a media company that specializes in providing high-quality video and audio content to everyone. Our mission is to entertain, different people no matter who they are.</p>
                  </section>
                  <h2 class="indexhead">VIDEO EXAMPLE</h2>
                  <h2 class="indexhead">Click thumbnail to view</h2>
                <section id="vidthumb">
       
                  <div class="video">
                    <a href="/video"><img src="/images/earth.png" alt="Video Thumbnail"></a>
                    <h3><a href="/video">Our Earth</a></h3>
                    <p>by <a href="/video">Stav Sobolov</a></p>
                    <p>Likes: 1k</p>
                  </div>

                  <div class="video">
                    <a href="/video"><img src="/images/race.png" alt="Video Thumbnail"></a>
                    <h3><a href="/video">Race Car</a></h3>
                    <p>by <a href="/video">Brad Day</a></p>
                    <p>Likes: 800</p>
                  </div>

                  <div class="video">
                    <a href="/video"><img src="/images/motel.png" alt="Video Thumbnail"></a>
                    <h3><a href="/video">My Room At Night</a></h3>
                    <p>by <a href="/video">Rivardo Trimarda Kusuma</a></p>
                    <p>Likes: 2k</p>
                  </div>

            </section>

            <h2 class="indexhead">AUDIO EXAMPLE</h2>
            <h2 class="indexhead">Click title to listen</h2>
            <section id="vidthumb">
       
                <div class="video">
                  <h3><a href="/audio">Best Friend</a></h3>
                  <audio src="/audio/kevin.wav" controls></audio>
                  <p>by <a href="/audio">Kevin Hart</a></p>
                  <p>Likes: 10k</p>
                </div>

                <div class="video">
                  <h3><a href="/audio">The Two Cats And A Monkey</a></h3>
                  <audio src="/audio/twocats.wav" controls></audio>
                  <p>by <a href="/audio">Ekroop & Harjas Jass</a></p>
                  <p>Likes: 800</p>
                </div>

                <div class="video">
                  <h3><a href="/audio">Manchester City Agueroo</a></h3>
                  <audio src="/audio/agueroo.wav" controls></audio>
                  <p>by <a href="/audio">Aguero</a></p>
                  <p>Likes: 2k</p>
                </div>

          </section>
            </main>

            
        
            <footer>
              <p>&copy; 2023 MyTube - Share Your Videos</p>
            </footer>
          </body>
        </html>
        