    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="preconnect" href="https://fonts.googleapis.com">
              <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                 <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/main.css ">
            <title>Chan Roy AV Reaserch App Video</title>
        </head>

          <body>
            <header>
                <h1 class="hidden">Header</h1>
              <a href="/"><img src="/images/logo.png" alt="logo" id="logo"></a>
            <h2>ALL MEDIA</h2>
              <nav>
                <ul>
                  <li><a href="/video">Video</a></li>
                  <li><a href="/">Home</a></li>
                  <li><a href="/audio">Audio</a></li>
                </ul>
              </nav>
            </header>
        
            <main class="container">

                  <h2 class="indexhead">VIDEO </h2>

                <section id="">
       
                  <div class="video">
                    <div class="twogrid">
                   <video src="/video/earth.mp4"  controls>
                   <track label="English" kind="subtitles" src="/video/earthsub.vtt" srclang="en" default>
                   <track label="English" kind="captions" src="/video/earthsub.vtt" srclang="en" default>
                  </video>
                  <div> 
                  <h3 class="viddesc">Subtitles</h3>
                  <p>Our Planet Earth, From Space</p>
                  <a class="download" href="/video/earthsub.vtt" download>Download Subtitles</a>

                  <h3 class="viddesc">Description</h3>
                  <p>The Look Of Our Planet From Outter Space</p>
                  <a class="download" href="/video/earth.mp4" download>Download Video</a>

                </div>
              </div>


                    <h3><a href="#">Our Earth</a></h3>
                    <p>by <a href="#">Stav Sobolov</a></p>
                    <p>Likes: 1k</p>
                  </div>
                    


                  <div class="video">
                    <div class="twogrid">
                   <video src="/video/race.mp4"  controls>
                   <track label="English" kind="subtitles" src="/video/race.vtt" srclang="en" default>
                   <track label="English" kind="captions" src="/video/race.vtt" srclang="en" default>
                  </video>
                  <div> 
                  <h3 class="viddesc">Subtitles</h3>
                  <p>Turning Left<br>Turning Right<br>Spinning</p>
                  <a class="download" href="/video/race.vtt" download>Download Subtitles</a>

                  <h3 class="viddesc">Description</h3>
                  <p>The Look Of Our Planet From Outter Space</p>
                  <a class="download" href="/video/race.mp4" download>Download Video</a>

                </div>
              </div>
              <h3><a href="#">Race Car</a></h3>
              <p>by <a href="#">Brad Day</a></p>
              <p>Likes: 800</p>
                  </div>


                  <div class="video">
                    <div class="twogrid">
                   <video src="/video/room.mp4"  controls>
                   <track label="English" kind="subtitles" src="/video/room.vtt" srclang="en" default>
                   <track label="English" kind="captions" src="/video/room.vtt" srclang="en" default>
                  </video>
                  <div> 
                  <h3 class="viddesc">Subtitles</h3>
                  <p>My Room At Night 
                      <br>
                    I like to chill at my bed at night time 
                    <br>
                    its always relaxing</p>
                  <a class="download" href="/video/room.vtt" download>Download Subtitles</a>

                  <h3 class="viddesc">Description</h3>
                  <p>Kusuma's Room At Night Time</p>
                  <a class="download" href="/video/room.mp4" download>Download Video</a>

                </div>
              </div>
              <h3><a href="#">My Room At Night</a></h3>
              <p>by <a href="#">Rivardo Trimarda Kusuma</a></p>
              <p>Likes: 2k</p>
                  </div>


            </section>

           
            </main>

            
        
            <footer>
              <p>&copy; 2023 All MEDIA</p>
            </footer>
          </body>
        </html>
        